.colorTable {
  height: 50px;
  width: 10px;
}

.image-logo {
  height: 35px;
  filter: grayscale(100%);
}

.table-container {
  background-color: white;
  height: 400px;
  overflow: auto;
  padding-right: 15px;
  padding-left: 15px;
}

table {
  font-family: "Kanit", sans-serif;
  color: #333333;
  border: 1.5px solid lightgray;
  width: 100%;
}

td {
  font-size: small;
}

p {
  margin: 0;
}

.td-brand {
  width: 300px;
}

.bold-font {
  font-weight: bold;
}

.table-component {
  height: 510px;
  width: 600px;
  background-color: white;
  margin-top: 50px;
}

.header {
  background-color: rgb(12, 131, 151);
  height: 35px;
  font-family: "Kanit", sans-serif;
  color: white;
  text-align: center;
  padding-top: 5px;
  font-size: 15px;
}

.search-bar {
  display: flex;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid lightgray;
  outline: none;
  margin-bottom: 20px;
  color: #7b7772;
  margin-top: 20px;
  margin-left: 15px;
  width: 230px;
}

@media (max-width: 750px) {
  .table-component {
    width: 350px;
    margin-top: 30px;
  }
  .search-bar {
    flex-direction: column;
  }

  input {
    width: 300px;
  }

  .btn-group {
    margin-bottom: 20px;
  }

  .sort-paragraph {
    margin-left: 16px !important;
  }
}

.sort-paragraph {
  font-family: "Kanit", sans-serif;
  margin-top: 20px;
  font-weight: bold;
  font-size: 12px;
  margin-left: 26px;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group button {
  font-family: "Kanit", sans-serif;
  color: #6c757d;
  border-color: #6c757d;
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  cursor: pointer;
  background-color: transparent;
  border: 1px solid;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.01rem 0.75rem;
}

.btn-group {
  margin-top: 15px;
  margin-left: 5px;
}

[sortable].desc:before,
[sortable].asc:before {
  content: "";
  display: block;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAmxJREFUeAHtmksrRVEUx72fH8CIGQNJkpGUUmakDEiZSJRIZsRQmCkTJRmZmJgQE0kpX0D5DJKJgff7v+ru2u3O3vvc67TOvsdatdrnnP1Y///v7HvvubdbUiIhBISAEBACQkAICAEhIAQ4CXSh2DnyDfmCPEG2Iv9F9MPlM/LHyAecdyMzHYNwR3fdNK/OH9HXl1UCozD24TCvILxizEDWIEzA0FcM8woCgRrJCoS5PIwrANQSMAJX1LEI9bqpQo4JYNFFKRSvIgsxHDVnqZgIkPnNBM0rIGtYk9YOOsqgbgepRCfdbmFtqhFkVEDVPjJp0+Z6e6hRHhqBKgg6ZDCvYBygVmUoEGoh5JTRvIJwhJo1aUOoh4CLPMyvxxi7EWOMgnCGsXXI1GIXlZUYX7ucU+kbR8NW8lh3O7cue0Pk32MKndfUxQFAwxdirk3fHappAnc0oqDPzDfGTBrCfHP04dM4oTV8cxr0SVzH9FF07xD3ib6xCDE+M+aUcVygtWzzbtGX2rPBrEUYfecfQkaFzYi6HjVnGBdtL7epqAlc1+jRdAap74RrnPc4BCijttY2tRcdN0g17w7HqZrXhdJTYAuS3hd8z+vKgK3V1zWPae0mZDMykadBn1hTQBLnZNwVrJpSe/NwEeDsEwCctEOsJTsgxLvCqUl2ACftEGvJDgjxrnBqkh3ASTvEWrIDQrwrnJpkB3DSDrGW7IAQ7wqnJtkBnLRztejXXVu4+mxz/nQ9jR1w5VB86ejLTFcnnDwhzV+F6T+CHZlx6THSjn76eyyBIOPHyDakhBAQAkJACAgBISAEhIAQYCLwC8JxpAmsEGt6AAAAAElFTkSuQmCC")
    no-repeat;
  background-size: cover;
  width: 12px;
  height: 12px;
  float: left;
  margin-top: 2px;
}

[sortable].desc:before {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
