.colorTable {
  height: 50px;
  width: 10px;
}

.image-logo {
  height: 35px;
  filter: grayscale(100%);
}

.table-container {
  background-color: white;
  height: 400px;
  overflow: auto;
}

table {
  font-family: "Kanit", sans-serif;
  color: #333333;
}

td {
  font-size: small;
}

p {
  margin: 0;
}

.td-brand {
  width: 300px;
}

.bold-font {
  font-weight: bold;
}
