<table>
  <thead>
    <tr>
      <th>Color</th>
      <th>Date</th>
      <th>Logo</th>
      <!-- <th>Company</th>
      <th>Amount</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of transactions$ | async">
      <td>
        <div
          class="colorTable"
          [ngStyle]="{ 'background-color': item.categoryCode }"
        ></div>
      </td>
      <td>{{ item.dates.valueDate | date }}</td>
      <td>
        <img
          src="../assets/icons/{{ item.merchant.imageLogo }}.png"
          [alt]="item.merchant.name"
          class="image-logo"
        />
      </td>
    </tr>
  </tbody>
</table>

<input type="text" name="" id="" [(ngModel)]="logo" />
<input type="text" name="" id="" [(ngModel)]="date" />
<input type="text" name="" id="" [(ngModel)]="color" />

<button (click)="addNewTransaction()">test</button>
